<nav>
    <h1>Donate Me</h1>
    <div class="right-nav">
        <% if user_signed_in? %>
            <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "authenticaion" %>
        <% else %>
            <%= link_to 'Log in', new_user_session_path, class: "authenticaion" %> | <%= link_to 'Sign up', new_user_registration_path, class: "authenticaion" %>
        <% end %>
    </div>
</nav>