/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("https://images.unsplash.com/photo-1527788263495-3518a5c1c42d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1383&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ffffffd7;
    background-blend-mode: soft-light;
}

nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 20px;
    background-color: #b8c0d4b9;
}

section {
    padding: 50px;
    .history {
        margin-top: 50px;
    }
    h1 {
        font-size: 3rem;
    }
}

aside {
    position: fixed;
    right: 20px;
    top: 218px;
}
.notice {
    color: blue;
}

.alert {
    color: red
}

.authenticaion {
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
}

td, th {
    padding: 10px;
}

.page {
    padding: 10px 50px 30px;
    a, span, em {
        padding: 10px;
        color: #979797;
    }
    .current {
        color: black;
        font-style: normal;
    }
    a:hover {
        color: black;
    }
}

input {
    padding: 5px;
}

.paypal {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-repeat: no-repeat;
    background-size: contain;
    &:hover {
        cursor: pointer;
    }
    
}
