/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("https://images.unsplash.com/photo-1527788263495-3518a5c1c42d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1383&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ffffffd7;
    background-blend-mode: soft-light;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 20px;
    background-color: #b8c0d4b9;
}

section {
    padding: 50px;
    .description {
        margin-bottom: 30px;
    }
    .history {
        margin-top: 30px;
        table {
            overflow:hidden;
            border:1px solid #d3d3d3;
            background:#fefefe;
            border-radius:5px;
            margin-top: 10px;
            outline: 0;
            -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
            -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
        }
        
        th, td {text-align:center; }
        
        th {font-size: 1.2em; padding:12px 18px; border-bottom:2px solid #e0e0e0; text-shadow: 1px 1px 1px #fff; background:#e8eaeb;}
        
        td {padding:8px 18px; border-top:1px solid #e0e0e0; border-right:1px solid #e0e0e0;}
        
        tr.odd-row td {background:#f6f6f6;}
        
        td.aligh-left {text-align:left}
        
        td.last {border-right:none;}

    }
    h1 {
        font-size: 3rem;
    }
}

@media (min-width: 1355px) {
    aside {
        position: fixed;
        right: 20px;
        top: 218px;
    }
}

.notice {
    color: blue;
}

.alert {
    color: red
}

.authenticaion {
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
}



.page {
    padding: 10px 50px 30px;
    a, span, em {
        padding: 10px;
        color: #979797;
    }
    .current {
        color: black;
        font-style: normal;
    }
    a:hover {
        color: black;
    }
}

input {
    padding: 5px;
}

.paypal {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-repeat: no-repeat;
    background-size: contain;
    &:hover {
        cursor: pointer;
    }
}

canvas {
    display: inline-block;
    border: 1px solid #000;
}
